/*Variabler*/
$bg-color: black; 
$nav-color:  #5B17ff;
$footer-color:black;
$primary-color:black;
$secondary-color: #5B17ff;
$text-color: white;
$padding: 0.5em;
$font: 'montserrat', Tahoma, Geneva, Verdana, sans-serif;

/*Mixin*/
@mixin flex($justify: center, $align: center){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

// Mixin for centering content

  @mixin center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}


@mixin btn($bg-color: $primary-color, $btn-padding: 0.8em 1em){
    background-color: $bg-color;
    padding: $btn-padding;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

@mixin cta-box($width: 20vw){
    background-color: #fff;
    width: $width;
    padding: 2em;
    margin: 2em auto;
}
