@use 'partials';

// Basic styles
body {
    margin: 0;
    padding: 0;
    font-family: partials.$font;
    background-color: partials.$bg-color;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

// Text styles
p {
    font-size: 16px;
    color: partials.$text-color;
    line-height: 1.5;
    text-align: center;
}

h1, h2, h4, h5, h6 {
    color: partials.$text-color;
    text-align: center;
}

h1 {
    font-size: 36px;
    text-align: center;
}

h2 {
    font-size: 24px;
    text-align: center;  
}

h3 {
    font-size: 22px;
    color: partials.$secondary-color;
    text-align: center;
}

h4, h5, h6 {
    font-size: 24px;
    text-align: center;
}

// Header
header {
    @include partials.flex(space-between);
    background-color: partials.$nav-color;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 1000; // Ensure header stays above all other content
    height: 150px;
    top: 0;
}

// Hero section
.hero-section {
    position: relative;
    width: 100%;
    height: calc(100vh - 150px); // Adjust for header height
    overflow: hidden;
}

.header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding-bottom: 70px;
}

.hero-text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

// Navigation and links
.navToggle {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

ul {
    @include partials.flex;
    list-style-type: none;
}

a {
    color: partials.$text-color;
    padding: partials.$padding;
    margin: partials.$padding;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

ul a:hover {
    color: partials.$secondary-color;
}

// Main content adjustments
main {
    padding-top: 150px; // Compensate for fixed header
}

.waitress_helping_guests img {
  display: flex; // Establishes a flex container
  justify-content: center; // Centers children along the main axis (horizontally for a row direction)
  padding-bottom: 70px; // Keeps the padding at the bottom as you specified
}

.services-section {
    background-color: partials.$bg-color;
    color: partials.$text-color;
    padding: 20px;
    text-align: center;
}

.services-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.services-list li {
    margin-bottom: 10px;
    flex: 1 1 200px; // Items will flex to fit the container
    text-align: center;
}

.talk-button {
    @include partials.btn(partials.$secondary-color);
    margin: 20px auto;
    display: block;
    color: white;
}

.main-video {
    width: 100%;
    height: auto; // Make video responsive to the width while maintaining aspect ratio
    object-fit: cover;
}

// Footer styles
footer {
    background-color: partials.$footer-color;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    z-index: 1;
    height: auto; // Adjust footer height as needed
}

.footer-content {
    @include partials.flex(center, center);
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.contact-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding-left: 45px;
}

.contact-button {
    padding: 10px 20px;
    background-color: partials.$secondary-color;
    color: white;
    border: none;
    border-radius: 20px;
    margin: 10px auto;
    display: block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.social-media-icons li {
    display: inline-block;
    margin: 0 10px;
}

.social-media-icons i {
    color: white;
    font-size: 30px;
    transition: color 0.3s ease;
    text-align: center;
}

// Hover effects for social icons
.social-media-icons .fa-facebook-f:hover { color: #4267B2; }
.social-media-icons .fa-linkedin-in:hover { color: #0077b5; }
.social-media-icons .fa-instagram:hover { color: #C13584; }

// Responsive adjustments
@media (min-width: 768px) {
    .talk-button, .contact-button {
        padding: 15px 30px;
        font-size: larger;
    }
    .logo img {
        width: 20%;
    }
}

@media (min-width: 1024px) {
    .logo img {
        width: 15%;
    }
}
